@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Nunito:400,600,700');

body {
  font-family: 'Nunito', sans-serif;
  overflow-x: hidden;
  background-color: #212529;
  color: #DDD;
}

/*
* {border:1px solid red}
*/
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

h1.font-weight-bold,
h2.font-weight-bold,
h3.font-weight-bold,
h4.font-weight-bold,
h5.font-weight-bold,
h6.font-weight-bold {
  font-weight: 600 !important;
}

::selection {
  background: rgba(166, 175, 189, 0.3);
}

::-moz-selection {
  background: rgba(166, 175, 189, 0.3);
}

.hero-container {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(20, 20, 20, 0.4)), url('../img/knowable-splash.jpg');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-blend-mode: overlay;
}

/* Media queries for header text size */
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .shimmer {
    font-size: 14vw;
    font-weight: 400;
    line-height: 1.2;
    padding: 0 0;
  }

  .hero-tag {
    line-height: 2.0;
    font-size: calc(10px + 1.4vw);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .shimmer {
    font-size: calc(60px + 3vw);
    font-weight: 400;
    line-height: 1.2;
    padding: 0 0;
  }

  .hero-tag {
    line-height: 2.0;
    font-size: calc(10px + 1.4vw);
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}

/* text shimmer animation start */
.shimmer {
  /*  font-size: 12vw;
  font-weight: 400;
  line-height: 1.2;*/
  margin: 0 auto;
  /*padding: 0 20px;*/
  display: inline;
  margin-bottom: 0;
  text-shadow: 2px 2px 5px #111;
}

.shimmer {
  text-align: center;
  color: rgba(255, 255, 255, 0.75);
  background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
  -webkit-background-size: 125px 100%;
  -moz-background-size: 125px 100%;
  background-size: 40px 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-animation-name: shimmer;
  -moz-animation-name: shimmer;
  animation-name: shimmer;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-color: #222;
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

@keyframes shimmer {
  0% {
    background-position: top left;
  }

  100% {
    background-position: top right;
  }
}

/* text shimmer animation end */
/* twinkling stars animation

@keyframes twinkle-anim {
  0%   {opacity: 1;}
  100% {opacity: 0;}
}

.hero-stars {
  height: 100vh;
  width: 100vw;

  background: url('../img/stars.png');
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  animation: twinkle-anim 5s ease-in-out 1s infinite alternate;

}
*/
.text-backing {}

.green {
  background-color: green;
}

.home-table-center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.home-table {
  display: table;
  width: 100%;
  height: 67vh;
}

.hero-text {}

.hero-header {
  color: white;
  font-variant: small-caps;
  font-size: 60px;
  font-weight: 400;
  line-height: 1.2;
}

.hero-tag {
  color: #CCC;
  /*  line-height: 2.0;
  font-size: 3vw; */
  text-shadow: 0px 0px 20px #222;
}

.green {
  border-color: green;
  background-color: white;
}

/* scroll down icon and animation start */
.icon-scroll {
  display: flex;
  position: absolute;
  bottom: 5vh;
  left: 50vw;
  transform: translate(-50%);
  padding: 3px 20px;
  border: 2px solid rgba(255, 255, 255, 0.7);
  border-radius: 20px;
  background-color: rgba(22, 22, 22, 0.7);
}

.scroll-arrows {
  display: block;
  width: 5px;
  height: 5px;
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg);
  border-right: 2px solid #999;
  border-bottom: 2px solid #999;
  margin: 0 0 0px 2px;
  width: 16px;
  height: 16px;
}

.both-arrows {
  transform: translate(0, -3px);
}

.scroll-one, .scroll-two {
  -webkit-animation: scroll-anim 1s infinite;
  -moz-animation: scroll-anim 1s infinite;
  animation: scroll-anim 1s infinite;
}

.scroll-one {
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  animation-delay: alternate;
}

.scroll-two {
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  animation-delay: .2s;
  animation-direction: alternate;
  margin-top: -5px;
}

@-webkit-keyframes scroll-anim {
  0% {
    opacity: .4;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: .7;
  }
}

@-moz-keyframes scroll-anim {
  0% {
    opacity: .4;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: .7;
  }
}

@-o-keyframes scroll-anim {
  0% {
    opacity: .4;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: .7;
  }
}

@keyframes scroll-anim {
  0% {
    opacity: .4;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: .8;
  }
}

/* scroll down icon and animation end */
.pitch-container {
  height: 20vh;
  width: 100vw;
}

.pitch-list {
  padding: 0;
  list-style-type: circle;
  list-style-position: outside;
  max-width: 220px;
}

.pitch-list-item {
  color: grey;
}

.pitch-image {
  height: 200px;
}

.twitter-text {
  text-transform: uppercase;
  font-variant: small-caps;
}

.copyright {
  color: grey;
}
