*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --tag-height: 28rem;
  --body-font: 'Questrial';
  --body-weight: 400;
  --body-size: 1.6rem;
  --section-padding-y: 6rem;
  --section-margin-y: 8rem;
  --card-margin-y: 5rem;
  --card-gap: 5rem;
  --footer-margin-y: 4rem;
  --content-max-width: 2000px;
}
@media only screen and (min-width: 801px) {
  :root {
    --tag-height: 32rem;
    --body-size: 1.6rem;
    --section-padding-y: 10rem;
    --section-margin-y: 10rem;
    --footer-margin-y: 8rem;
  }
}
@media only screen and (min-width: 1001px) {
  :root {
    --card-margin-y: 8rem;
    --card-gap: 8rem;
    --footer-margin-y: 10rem;
  }
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

html {
  background: #000;
  font-size: 62.5%;
}
body {
  margin: 0;
  color: #EEE;
  font-size: var(--body-size);
  font-family: var(--body-font), sans-serif;
  font-weight: var(--body-weight);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #000;
  letter-spacing: 1.25px;
}
* {
  margin: 0;
  padding: 0;
}

::selection {
    background: rgba(166, 175, 189, 0.3);
}
::-moz-selection {
    background: rgba(166, 175, 189, 0.3);
}

a {
  color: #21c1d4;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
}
a:hover {
  color: #2194a2;
  transition: all 0.1s ease-in-out;
}

/*navbar classes*/

#mainNav {
  min-height: 60px;
  min-width: 100%;
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  padding: 0 8vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainNav {
  background: #226666;
  transition: background 0.25s ease-in-out;
}
.navbar-shrink {
  background: #226666;
}
#mainNav a {
  color: #CACACA;
}
#mainNav a:hover {
  color: var(--yellow-text);
}
#mainNav a:active {
  color: #eff2f7;
}
.navbar-brand {
  font-size: 1.25em;
  letter-spacing: 2px;
}
.nav-link {
  letter-spacing: 1.5px;
  display: block;
  padding: 10px 0;
  text-decoration: none;
}
.nav-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
}
.nav-row {
  width:100%;
  min-height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbarResponsive-hide {
  display: none;
}
.navbar-toggler {
  color: #CACACA;
  /*font-family: 'Inter', sans-serif;*/
  padding: 0.5rem 0.75rem;
  font-size: 1.4rem;
  letter-spacing: 1.2px;
  line-height: 1;
  background-color: transparent;
  border: 1px solid #CACACA;
  border-radius: 0.25rem;
  transition: box-shadow 0.15s ease-in-out;
  cursor: pointer;
}
@media (prefers-reduced-motion: reduce) {
  .navbar-toggler {
    transition: none;
  }
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  box-shadow: 0 0 0 0.25rem;
}
@media only screen and (min-width: 1101px) {
  .mainNav {
    background: rgba(47, 54, 61, 0.5);
    transition: background 0.25s ease-in-out, height 0.25s ease-in-out;
    height: 80px;
  }
  .navbar-shrink {
    background: #226666;
    height: 60px;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.2);
  }
  .nav-row {
    width: auto;
  }
  #navbarResponsive {
    display: inline;
  }
  .nav-link {
    display: inline;
    margin-left: 40px;
  }
  .navbar-toggler {
    display: none;
  }
}
/*end navbar classes*/

#body-container {
  width: auto;
  max-width: var(--content-max-width);
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

#hero-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: calc(100vh + var(--tag-height));
  background: #000;
  background-position: center;
  background-size: cover;
}
.title-box {
  width: 50vw;
  height: auto;
  align-self: center;
  gap: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 15px;
}
.title-box h1 {
  color: #FFF;
  font-size: 5.5rem;
  line-height: 12rem;
  font-weight: 400;
  font-family: 'Krona One', serif;
  font-style: normal;
  letter-spacing: 0.0rem;
  font-variant: small-caps;
  user-select: none;
  margin-bottom: 2rem;
}
.title-box h2 {
  color: rgba(242, 244, 243, 0.8);
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 3.8rem;
  letter-spacing: 1.75px;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  user-select: none;
}
@media only screen and (min-width: 461px) {
  .title-box h1 {
    font-size: 6rem;
    letter-spacing: 0.25rem;
  }
  .title-box h2 {
    font-size: 1.8rem;
    letter-spacing: 2px;
  }
}
@media only screen and (min-width: 501px) {
  .title-box h1 {
    font-size: 7.5rem;
    letter-spacing: 0.25rem;
  }
  .title-box h2 {
    font-size: 1.8rem;
    letter-spacing: 2.5px;
  }
}
@media only screen and (min-width: 601px) {
  .title-box h1 {
    font-size: 9rem;
    letter-spacing: 0.5rem;
  }
  .title-box h2 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 701px) {
  .title-box h1 {
    font-size: 10rem;
    letter-spacing: 1.2rem;
  }
  .title-box h2 {
    font-size: 2.1rem;
    letter-spacing: 4px;
    margin-bottom: 1.5rem;
  }
}
@media only screen and (min-width: 1001px) {
  .title-box h1 {
    font-size: 12rem;
    letter-spacing: 1.2rem;
  }
  .title-box h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
.title-rule {
  width: 168px;
  height: 1px;
  background: #24C3C3;
  margin-top: 1rem;
}
.hero-color {
  /*width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0,0,0, 1) 10%, rgba(0,0,0, 0.8) 20%, rgba(0,0,0, 0.2) 40%), url('../assets/masthead.jpg');
  background-position: 0% -50%;
  background-size: 100% calc(100vh + var(--tag-height));
  background-repeat: no-repeat;*/
  background-image: linear-gradient(rgba(0,0,0, 1) 5%, rgba(0,0,0, 0.3) 40%), url('../assets/masthead.jpg');
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 190%;
  background-size: auto calc(120vh - var(--tag-height));
}
@media only screen and (min-width: 601px) {
  .hero-color {
    background-size: auto calc(120vh - var(--tag-height));
    background-position: 50% 210%;
  }
}
@media only screen and (min-width: 801px) {
  .hero-color {
    background-size: auto calc(80vh + var(--tag-height));
    background-position: 50% -100%;
  }
}
@media only screen and (min-width: 1001px) {
  .hero-color {
    background-position: 50% -120%;
    background-size: auto calc(80vh + var(--tag-height));
  }
}
@media only screen and (min-width: 1201px) {
  .hero-color {
    background-image: linear-gradient(rgba(0,0,0, 1) 10%, rgba(0,0,0, 0.8) 40%, rgba(0,0,0, 0.3) 60%), url('../assets/masthead.jpg');
    background-position: 50% -15%;
    background-size: cover calc(100vh - var(--tag-height));
  }
}
@media only screen and (min-width: 1801px) {
  .hero-color {
    background-image: linear-gradient(rgba(0,0,0, 1) 20%, rgba(0,0,0, 0.8) 40%, rgba(0,0,0, 0.3) 60%), url('../assets/masthead.jpg');
    background-position: 50% -30%;
    background-size: cover;
  }
}
.hero-grey {
  width: 100%;
  height: var(--tag-height);
  background-color: #000;
  background-image:url('../assets/masthead.jpg');
  opacity: 0.25;
  /*background-position: 0 80%;
  background-size: 100% calc(100vh + var(--tag-height));*/
  background-size: auto 120vh;
  background-position: bottom;
  background-repeat: no-repeat;
  background-blend-mode: luminosity;
  filter: brightness(30%);
}
@media only screen and (min-width: 801px) {
  .hero-grey {
    background-position: 50% calc(-10% - 85vh);
  }
}
@media only screen and (min-width: 1201px) {
  .hero-grey {
    background-size: cover;
    background-position: bottom;
  }
}
@media only screen and (min-width: 1601px) {
  .hero-grey {
    background-size: cover;
    background-position: bottom;
  }
}
.float-me {
  width:100%;
  max-width: var(--content-max-width);
  height: var(--tag-height);
  position: absolute;
  top:100vh;
}
.blue-overlay {
  background: linear-gradient(#0f475f, #0f4b64);
  opacity: 0.35;
}
.tag-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  text-align: center;
}
.tag-box h3 {
  color: #FFF;
  font-size: 3.6rem;
  font-style: normal;
  font-family: var(--body-font), sans-serif;
  font-weight: 400;
  line-height: 3.7rem;
}
.tag-box p {
  width: 80%;
  margin: auto;
  text-align: center;
  color: #D6D6D6;
  font-size: 2.1rem;
  font-weight: var(--body-weight);
  line-height: 3.5rem;
  font-style: normal;
  font-family: var(--body-font), sans-serif;
}
@media only screen and (min-width: 601px) {
  .tag-box p {
    font-size: 2.4rem;
    line-height: 4rem;
  }
}
@media only screen and (min-width: 801px) {
  .tag-box p {
    font-size: 2.5rem;
    line-height: 4.5rem;
    width: 75%;
  }
}
@media only screen and (min-width: 1001px) {
  .tag-box p {
    width: 65%;
    max-width: 1000px;
  }
}
.orange {
  color: #e67618;
}
.blink {
  animation-name: blink-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes blink-animation {
  0% { transform: translateY(0) }
  10% { transform: translateY(-3%) scale(1.02); color: #E6E6E6; }
  60% { transform: translateY(0) scale(1); color: #D6D6D6; }
}
.section-head {
  color: #FFF;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 3.8rem;
  font-variant: small-caps;
}
.section-rule {
  align-self: center;
  width: 40%;
  max-width: 200px;
  height: 1px;
  background: #96D9D9;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

.body-text {
  color: #BBB;
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: var(--body-weight);
  font-size: 1.8rem;
  line-height: 2.4rem;
  letter-spacing: 1.1px;
  text-align: center;
  width: 90%;
}
@media only screen and (min-width: 601px) {
  .body-text {
    width: 85%;
    max-width: 1000px;
    font-size: 1.9rem;
    line-height: 2.4rem;
    letter-spacing: 1.1px;
  }
}
@media only screen and (min-width: 1001px) {
  .body-text {
    width: 75%;
    max-width: 1000px;
    font-size: 2rem;
    line-height: 2.8rem;
    letter-spacing: 1.25px;
  }
}
.m-top {
  margin-top: 2.5rem;
}
.body-blink {
  animation-name: body-animation;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes body-animation {
  0% { color: #BBB; }
  10% { color: #EEE; }
  25% { color: #BBB; }
  100% { color: #BBB; }
}
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: var(--section-padding-y) 4rem;
  padding-bottom: 0;
}

#about {

}
.card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: var(--card-margin-y);
  gap: var(--card-gap);
}
@media only screen and (min-width: 1251px) {
  .card-container {
    flex-direction: row;
  }
}
.card {
  border: 1px solid #7a7a7a;
  background: #0d0d0d;
  border-radius: 5px;
  padding: 2rem 4rem;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: border background top 0.25s ease-out;
  position: relative;
  top: 0;
}
.card:hover {
  border: 1px solid #997253;
  background: #0f0f0f;
  top: -2px;
  transition: all 0.08s ease-out;
}
.card:hover .about-img {
  fill: #aa9623;
  transition: all 0.08s ease-out;
}
.card-rule {
  width: 7rem;
  height: 1px;
  background: #5E5E5E;
  margin-top: 2rem;
  margin-bottom: 3rem;
}
.card h4 {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #FFF;
  margin-top: 3rem;
}
.card p {
  color: #C0C0C0;
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 1.25px;
  text-align: center;
}

.about-card {
  width: 475px;
  height: 325px;
}
.about-img {
  width: 60px;
  height: 60px;
  fill: #ccb00a;
  /*background: url('../assets/collab.jpg');*/
  background-position: center;
  background-size: cover;
  transition: all 0.25s ease-out;
}

#section-break {
  width: 100%;
  height: 250px;
  background: url('../assets/divider.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 0.2;
}

#team {
}
.team-card {
  width: auto;
  max-width: 500px;
  height: auto;
}
@media only screen and (min-width: 1251px) {
  .team-card {
    max-width: 320px;
  }
}
.team-img {
  width: 150px;
  height: 150px;
  border-radius: 15px 30px 15px 30px;
  object-fit: contain;
  object-position: center;
}
.card .job-title {
  margin-top: 1rem;
  font-size: 1.2rem;
  line-height: 1.5rem;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
}
.card .bio {
}

#contact {
  background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.8)), url('../assets/contact.jpg');
  background-repeat: no-repeat;
  background-position: 0% 70%;
  background-size: cover;
  height: auto;
  width: 100%;
  margin-top: var(--section-margin-y);
  padding-bottom: var(--section-padding-y);
  /*padding-top: 16rem;
  padding-bottom: 9rem;*/
}
@media only screen and (min-width: 1201px) {
  #contact {
    background-position: 0% 90%;
  }
}
#contact .say-hi {
  font-size: 2rem;
  line-height: 2.3rem;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 600;
  margin-top: 9rem;
  color: #E9E9E9;
}
.smile {
  animation-name: smile-animation;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
  display: inline-block;
}
@keyframes smile-animation {
  0% { transform: tranlateY(0) }
  10% { transform: translateY(-10%) scale(1.15) }
}

#social-list {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.social-icon {
  /*width: 50px;
  height: 50px;*/
  fill: #f7933f;
  transition: all 0.25s ease-out;
}
.social-icon:hover {
  fill: #be6d2a;
  transition: all 0.25s ease-out;
  transform: scale(1.1);
}

#footer {
  margin-top: var(--footer-margin-y);
  padding: 10rem 4rem;
  padding-bottom: 6rem;
  width: 100%;
  height: auto;
  background: #171513;
  justify-content: space-between;
  align-items: center;
  color: #AAA;
}
.footer-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;
  margin: auto;
}
@media only screen and (min-width: 801px) {
  #footer {
    padding: 10rem 10rem;
    padding-bottom: 6rem;
  }
  .footer-brand p {
    padding-left: 10px;
  }
}
@media only screen and (min-width: 1001px) {
  #footer {
    padding: 14rem 18rem;
    padding-bottom: 6rem;
  }
  .footer-wrapper {
    max-width: 1400px;
  }
}
.footer-brand h5 {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.8rem;
  color: #CACACA;
  transition: all 0.25s ease-out;
}
.footer-brand h5:hover {
  color: #498f90;
  transition: all 0.25s ease-out;
}
.footer-brand p {
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: var(--body-weight);
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: 1.8rem;
}
.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-bottom: 9rem;
}
.footer-links li {
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: var(--body-weight);
  font-size: 1.6rem;
  line-height: 1.6rem;
  margin-top: 2.5rem;
}
.footer-links ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#footer > p {
  text-align: center;
  font-family: var(--body-font), sans-serif;
  font-style: normal;
  font-weight: var(--body-weight);
  font-size: 1.4rem;
  line-height: 1.4rem;
}
